
.nx/installation
.nx/cache
.nx/workspace-data


android
ios
.expo

node_modules

.env

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/